$bg: #0f0d13;
$bg-2: #1b191f;
$bg-3: #29282d;

$primary: #a238ff;
$accent: #a238ff;
$strokes: #3a393d;

$primary-gradient: linear-gradient(to bottom, #a238ff, #612299);
$primary-gradient-hover: linear-gradient(to bottom, #b06cec, #663193);

$text: #fcfcfe;
$details: #a9a6aa;

$error: #ff3d3d;
$success: #00b23d;
